footer
  .logo
    a.brand(href='#') dCoder
    br
    span Coding Club NIT Delhi
  .links
    a(href="#") About us
    br
    a(href="#") Contact us
  .social
    ul
      li
        a(href="#")
          <i class="zmdi zmdi-facebook"></i>
      li  
        a(href="#")
          <i class="zmdi zmdi-twitter"></i>
      li    
        a(href="#")
          <i class="zmdi zmdi-google-plus"></i>
      li    
        a(href="#")
          <i class="zmdi zmdi-linkedin"></i>
      li   
        a(href="#")
          <i class="zmdi zmdi-youtube-play"></i>